# Registry IPFS hash (required)
REGISTRY_HASH=QmamH3g3aGGKwtxLDnz5feJdp12SUXXveQRSQTRZXzzkjS

# Environment: mainnet or testnet
ENVIRONMENT=mainnet
ALCHEMY_API_KEY= #ALCHEMY TOKEN HERE
CONDUIT_API_KEY= #CONDUIT TOKEN HERE (OPTIONAL)

# (Optional) Postgres database URL. If not provided, SQLite will be used. 
DATABASE_URL=